.todo-count {
  text-align: left;
}

.todo-count strong {
  font-weight: 300;
}

.clear-completed,
html .clear-completed:active {
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.clear-completed:hover {
  text-decoration: underline;
}

.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  right: 0;
  left: 0;
}